# Copie para .env e preencha somente quando necessário.
VAULT_SQL_HOSTNAME=localhost\sqlexpress
VAULT_SQL_DATABASE=DataDBEnt
VAULT_SQL_DRIVER=ODBC Driver 18 for SQL Server
VAULT_SQL_USERNAME=
VAULT_SQL_PASSWORD=
